{% extends 'blog/base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <a href="{% url 'blog:post_new' %}"><span class="glyphicon glyphicon-plus"></span></a>
        <a href="{% url 'blog:post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
    {% endif %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1><a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock %}